# Entorno de ejecución: development | production
NODE_ENV=development

# Puerto del servidor
PORT=3000

# Cadena de conexión a MongoDB
MONGODB_URL_CTL=mongodb+srv://<usuario>:<password>@cluster0.zkvnk.mongodb.net/<database>?retryWrites=true&w=majority

# Clave secreta para firma y verificación de tokens JWT
SECRET_KEY=tu_clave_secreta_aqui
